{% extends "app/base.html" %}
{% load static %}
{% block title %}Canada page About{% endblock %}
{% block content %}
    <!--  new-page -->
    <section class="new-page">
        <div class="new-page-image"></div>
        <div class="substrate">
            <div class="text-service__block">
                <div class="text-block_item new-page-text">
                    <p>areas what we serv</p>
                </div>

            </div>
            <div class="substrate-conteiner">

                <!-- карта -->
                <div class="substrate-conteiner-card">
                    <img src="{% static './image/gear-about.png'  %}" alt="">
                    <div class="substrate-conteiner-items">
                        <h4>Heading</h4>
                        <p>Sed ut perspiciatis unde omnis iste </p>

                    </div>

                </div>
                <!-- карта -->

                <!-- карта --> 
                <div class="substrate-conteiner-card">
                    <img src="{% static './image/gear-about.png'  %}" alt="">
                    <div class="substrate-conteiner-items">
                        <h4>Heading</h4>
                        <p>Sed ut perspiciatis unde omnis iste </p>

                    </div>

                </div>
                <!-- карта -->

                <!-- карта --> 
                <div class="substrate-conteiner-card">
                    <img src="{% static './image/gear-about.png'  %}" alt="">
                    <div class="substrate-conteiner-items">
                        <h4>Heading</h4>
                        <p>Sed ut perspiciatis unde omnis iste </p>

                    </div>

                </div>
                <!-- карта -->


            </div>
        </div>
    </section>
    <!--  new-page -->
    <section class="substrate-mobile-section">
        <div class="substrate-mobile">
            <div class="substrate-mobile-conteiner">
                <div class="substrate-mobile-card">

                    <div class="substrate-mobile-item">
                        <h6>Heading</h6>
                        <img src="{% static './image/gear-about.png'  %}" alt="">
                    </div>

                    <div class="substrate-mobile-description">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium своєї компанії в інтернеті.</p>
                    </div>
                    <div class="substrate-mobile-line"></div>
                    
                </div>

                <div class="substrate-mobile-card">

                    <div class="substrate-mobile-item">
                        <h6>Heading</h6>
                        <img src="{% static './image/gear-about.png'  %}" alt="">
                    </div>

                    <div class="substrate-mobile-description">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium своєї компанії в інтернеті.</p>
                    </div>
                    <div class="substrate-mobile-line"></div>
                    
                </div>

                <div class="substrate-mobile-card">

                    <div class="substrate-mobile-item">
                        <h6>Heading</h6>
                        <img src="{% static './image/gear-about.png'  %}" alt="">
                    </div>

                    <div class="substrate-mobile-description">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium своєї компанії в інтернеті.</p>
                    </div>
                    <div class="substrate-mobile-line"></div>
                    
                </div>

            </div>



        </div>

    </section>

    <!--  new-page-text-->
    <section class="new-description">
        <div class="new-page-text-items">
            <h1>Urban Basement Solution</h1>
        </div>
        <div class="new-page-text-description">
            <div class="new-item">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam iste corporis aliquid reiciendis veniam accusantium cum, porro alias hic laudantium molestiae. Provident explicabo atque ex animi fugit perferendis inventore ad?</p>
            </div>
            <div class="new-item">
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>

        </div>

    </section>
    <!--  new-page-text-->

    <!--  new-page-style -->
    <section class="new-style">
        <div class="new-style-man">
        
            <!--  аватарка -->
            <div class="new-style-avatar-conteiner">

                <div class="conteiner-avatar">
                    <div class="new-style-avatar">
                        <img src="{%  static './image/about-face.png' %}" alt="man">
                    </div>
                    <div class="new-style-social">
                        <a href=""><img src="{%  static './image/facebook-about.png' %}" alt="facebook"></a>
                        <a href=""><img src="{%  static './image/facebook-about.png' %}" alt="facebook"></a>
                    </div>
                
                
                </div>
                <div class="conteiner-desription__text">
                    <div class="new-avatar-text">
                        <h4>Sergey Bondarenko</h4>
                        <p>Lorem /ipsum </p>
                    </div>
                    <div class="new-avatar-description">
                        
                        <h5>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h5>
                    </div>
                    
                    
                </div>

                <div class="new-substrate"></div>
        
            </div>
            <!--  аватарка -->

            <div class="flag-conteiner">
                <div class="flag-ukraine"></div>
                <div class="gerb-ukraine"></div>
                <div class="vertical-line"></div>
                <div class="flag-canada"></div>
            </div>
        
        </div>

    </section>
    <!--  new-page-style -->

    <!--  video-content  -->

    <section class="video-content">
        <div class="text-service__block-video">
            <div class="text-block_item-video">
                <p>areas what we service</p>
            </div>
        </div>
        <div class="video-container">
            <iframe 
                src="https://www.youtube.com/embed/{{ project.youtube_url|slice:'-11:' }}" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>

    </section>
    <!--  video-content  -->

 {% endblock%} 
    
