{% extends "app/base.html" %}
{% load static %}
{% block title %}Projects Flooring Installation Toronto{% endblock %}
{% block content %}

    <section class="detail">
        <div class="detail-image__conteiner"></div>
    </section>

    <div class="detail-text-service__block">
        <div class="detail-text-block">
            <h4>{{category.name}}</h4>
        </div>
        <div class="detail-text-block_item">
          <p>areas what we serv</p>
    </div>
    
    <section class="responsive-section">
        <div class="container-section">
            <div class="image-container">
                <img src="{{ category.image.url }}" alt="Image" class="img-fluid"  style="border-radius: 20px 0 20px 0;">
            </div>
            <div class="text-container">
                <p>{{ category.description }}</p>
            </div>
            <div class="text-container">
              <p>{{ category.technologies }}</p>
          </div>
    </section>

    <div class="detail-text-service__block">
      <div class="detail-text-block">
          <h4>Projects</h4>
      </div>
      <div class="detail-text-block_item">
        <p>aProjects related to the category</p>
    </div>


    <section class="detail-card">
        <div class="card-conteiner-items">
            {% if projects %}
                {% for project in projects %} 
                    <a href="{% url "construction:project_detail" project.slug %}"class="project-href">
                        
                        <div class="card-detail__conteiner">
                            <div class="detail-image_card">
                                <img src="{{ project.image.url }}" alt="">
                            </div>
                            <img src="{% static '/image/down-line.png' %}" alt="Круг" class="circle"> <!-- Картинка круга -->
                            <div class="detail-text_card">
                                <h4>{{ project.name }}</h4>
                            </div>
                            <div class="detail-text_card-description">
                                <p>{{ project.description|truncatewords:12  }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else  %}  
                <div class="detail-text-service__block">
                    <div class="detail-text-block_item">
                        <p style="color:#E77B2D; font-size: 30px">There are no projects in this category yet.</p>
                    </div>
                </div>  
            {% endif %}  
        
        </div>
    </section>
<!-- секция card -->
       <!--  new-page-style -->
    <section class="new-style">
        <div class="new-style-man">
        
            <!--  аватарка -->
            <div class="new-style-avatar-conteiner">

                <div class="conteiner-avatar">
                    <div class="new-style-avatar">
                        <img src="{%  static './image/Serheii.jpeg' %}" alt="man">
                    </div>
                    <div class="new-style-social">
                        <a href=""><img src="{%  static './image/facebook-about.png' %}" alt="facebook"></a>
                        <a href=""><img src="{%  static './image/facebook-about.png' %}" alt="facebook"></a>
                    </div>
                
                
                </div>
                <div class="conteiner-desription__text">
                    <div class="new-avatar-text">
                        <h4>Serhii Bondarenko</h4>
                        <p>Flooring specialist</p>
                    </div>
                    <div class="new-avatar-description">
                        
                        <h5>The best solution for working with floors</h5>
                    </div>
                    
                    
                </div>

                <div class="new-substrate"></div>
        
            </div>
            <!--  аватарка -->
        </div>
    </section>
    <!--  new-page-style -->
{% endblock %}