{% extends "app/base.html" %}
{% load static %}
{% block title %}Canada page card{% endblock %}
{% block content %}

    <section class="detail">
        <div class="detail-image__conteiner"></div>
    </section>

    

    <div class="detail-text-service__block">
      <div class="detail-text-block">
          <h4>Project gallery</h4>
      </div>
      <div class="detail-text-block_item">
        <p>This is the category showcasing all of our project photos</p>
    </div>

    {% comment %} <section>
        <div id="carouselExampleControlsNoTouching" class="carousel slide"  data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
              <div class="carousel-item active" style="padding: 20px;">
                <img src="{%  static './image/galery/galery1.jpg' %}" class="d-block w-100" alt="..." style="object-fit: cover; border-radius: 40px 0 40px 0;">
              </div>
              <div class="carousel-item" style="padding: 20px;">
                <img src="{%  static './image/galery/galery2.jpg' %}" class="d-block w-100" alt="..." style="border-radius: 40px 0 40px 0;">
              </div> <div class="carousel-item active" style="padding: 20px;">
                <img src="{%  static './image/galery/galery3.jpg' %}" class="d-block w-100" alt="..." style="object-fit: cover; border-radius: 40px 0 40px 0;">
              </div>
              <div class="carousel-item" style="padding: 20px;">
                <img src="{%  static './image/galery/galery4.jpg' %}" class="d-block w-100" alt="..." style="object-fit: cover; border-radius: 40px 0 40px 0;">
              </div>
              <div class="carousel-item" style="padding: 20px;">
                <img src="{%  static './image/galery/galery5.jpg' %}" class="d-block w-100" alt="..." style="object-fit: cover; border-radius: 40px 0 40px 0;">
              </div>
              <div class="carousel-item" style="padding: 20px;">
                <img src="{%  static './image/galery/galery6.jpg' %}" class="d-block w-100" alt="..." style="object-fit: cover; border-radius: 40px 0 40px 0;">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section> {% endcomment %}

    <section>
        <div id="carusel-galery" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner" style="width: 100%; height: 100%;">
                <div class="carousel-item active" style="padding: 0;">
                    <img src="{% static './image/galery/galery1.jpg' %}" class="img-gallery d-block" alt="...">
                </div>
                <div class="carousel-item" style="padding: 0;">
                    <img src="{% static './image/galery/galery2.jpg' %}" class="img-gallery d-block" alt="..." >
                </div>
                <div class="carousel-item" style="padding: 0;">
                    <img src="{% static './image/galery/galery3.jpg' %}" class="img-gallery d-block" alt="...">
                </div>
                <div class="carousel-item" style="padding: 0;">
                    <img src="{% static './image/galery/galery4.jpg' %}" class="img-gallery d-block" alt="...">
                </div>
                <div class="carousel-item" style="padding: 0;">
                    <img src="{% static './image/galery/galery5.jpg' %}" class="img-gallery d-block" alt="...">
                </div>
                <div class="carousel-item" style="padding: 0;">
                    <img src="{% static './image/galery/galery6.jpg' %}" class="img-gallery d-block" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 p-3 p-md-4 new-item">
                    <h3 class="text-galery">With years of experience in flooring and floor coverings, we are proud to serve the Toronto area. Our team has successfully completed numerous projects, and the satisfaction of our clients is a testament to our expertise and commitment to quality.<h3/>
                </div>

                <div class="col-12 p-3 p-md-4 new-item">
                    <h4 class="text-gallery-item">Our main strategy is speed, a professional team, the best tools for the job, and high-quality materials.<h3/>
                </div>
              
                <!--  текст блочный -->
                <div class="text-service__block">
                    <div class="text-block">
                        <h4>Why Choose Us?</h4>
                    </div>
                </div>

                <div class="col-12 p-3 p-md-4  new-item">
                    <p style="text-align: left;"><strong style="font-weight: 900;">Competitive Pricing:</strong> We offer great value for top-tier flooring services in Toronto, making premium floors accessible to all budgets.</p>
                </div>
                <div class="col-12 p-3 p-md-4  new-item">
                    <p style="text-align: left;"><strong style="font-weight: 900;">Quality Guarantee: </strong> Every installation comes with a satisfaction guarantee, ensuring your floors look flawless and perform reliably for years.</p>
                </div>
                <div class="col-12 p-3 p-md-4  new-item">
                    <p style="text-align: left;"><strong style="font-weight: 900;">Fast Turnaround:</strong> We respect your time and work efficiently to complete projects on schedule.</p>
                </div>
                <div class="col-12 p-3 p-md-4  new-item">
                    <p style="text-align: left;"><strong style="font-weight: 900;">Local Expertise:</strong> As a Toronto-based organization, we know the local market and climate, providing flooring solutions that stand up to Canadian winters and busy lifestyles.</p>
                </div>
                <!--  текст блочный -->
             

            </div>
        </div>
    </section>
    <section class="reviews" style="background-color:transparent;">
        <!--  текст блочный -->
        <div class="text-service__block-reviews">
           <div class="text-block_item-reviews">
               <p>Our satisfied customers</p>
           </div>
       </div>
       <!--  текст блочный -->

       <div class="reviews-conteiner">

            <!--  card -->
           <div class="reviews-card">
               <div class="reviews-img">
                   <img src="{% static '/image/otziv1.jpg' %}" alt="" style="width: 130px; height: 130px; border-radius: 50%;  object-fit: cover;">
               </div>
               <div class="reviews-description" srtle="text-align: left">
                   <h6>Fast installation by a team I trust</h6>
               </div>
              
           </div>
           <!--  card -->


           <!--  line-modile -->
           <div class="custom-line"></div>
           <!--  line-modile -->
          

            <!--  card -->
            <div class="reviews-card">
               <div class="reviews-img">
                   <img src="{% static '/image/2otziv.jpg' %}" alt=""style="width: 130px; height: 130px; border-radius: 50%;  object-fit: cover;">
               </div>
               <div class="reviews-description">
                   <h6>Reliable guys I recommend for cooperation</h6>
               </div>
           </div>
           <!--  card -->

           <!--  line-modile -->
           <div class="custom-line"></div>
           <!--  line-modile -->

            <!--  card -->
            <div class="reviews-card">
               <div class="reviews-img">
                   <img src="{% static '/image/3otziv.jpg' %}" alt=""style="width: 130px; height: 130px; border-radius: 50%;  object-fit: cover;">
               </div>
               <div class="reviews-description">
                   <h6>Top quality, best in the business</h6>
               </div>
           </div>
           <!--  card -->

       </div>
    </section>
{% endblock %}