{% extends "app/base.html" %}
{% load static %}
{% block title %}Flooring Installation Toronto{% endblock %}
{% block content %}

    <section class="detail">
        <div class="detail-image__conteiner"></div>
    </section>

    <div class="detail-text-service__block">
        <div class="detail-text-block">
            <h4>{{project.name}}</h4>
        </div>
        <div class="detail-text-block_item">
          <p>areas what we serv</p>
    </div>
    
    <section class="responsive-section">
        <div class="container-section">
            <div class="image-container">
                {% if project.image %}
                    <img src="{{ project.image.url }}"  alt="Image" class="img-fluid"  style="border-radius: 20px 0 20px 0;">
                {% else %}
                    <img src="/static/image/no-image.png" alt="No image">
                {% endif %}
                {% comment %} <img src="{{ project.image.url }}" alt="Image" class="img-fluid"  style="border-radius: 20px 0 20px 0;"> {% endcomment %}
            </div>
            <div class="text-container">
                <p>{{ project.description }}</p>
            </div>
    </section>
    <!--  new-page-style -->
    <section class="new-style">
        <div class="new-style-man">
        
            <!--  аватарка -->
            <div class="new-style-avatar-conteiner">

                <div class="conteiner-avatar">
                    <div class="new-style-avatar">
                        <img src="{%  static './image/about-face.png' %}" alt="man">
                    </div>
                    <div class="new-style-social">
                        <a href=""><img src="{%  static './image/facebook-about.png' %}" alt="facebook"></a>
                        <a href=""><img src="{%  static './image/facebook-about.png' %}" alt="facebook"></a>
                    </div>
                
                
                </div>
                <div class="conteiner-desription__text">
                    <div class="new-avatar-text">
                        <h4>Sergey Bondarenko</h4>
                        <p>Flooring specialist</p>
                    </div>
                    <div class="new-avatar-description">
                        
                        <h5>The best solution for working with floors</h5>
                    </div>
                    
                    
                </div>

                <div class="new-substrate"></div>
        
            </div>
            <!--  аватарка -->

            <div class="flag-conteiner">
                <div class="flag-ukraine"></div>
                <div class="gerb-ukraine"></div>
                <div class="vertical-line"></div>
                <div class="flag-canada"></div>
            </div>
        
        </div>

    </section>
    <!--  new-page-style -->

    <section>
        <div class="conteiner-img-section">
            {% for images in project_images %}
                {% if images.image %}
                    <img src="{{ images.image.url }}"  alt="Image" class="image-section"  style="border-radius: 20px 0 20px 0;">
                {% else %}
                    <img src="/static/image/no-image.png" alt="No image">
                {% endif %}
                {% comment %} <img src="{{ images.image.url }}" alt="Image" class="image-section"  style="border-radius: 20px 0 20px 0;">
     {% endcomment %}
            {% endfor %}
        </div>
    <section>
        <div class="detail-text-service__block">
            <div class="detail-text-block">
                <h4>Reviews from our clients</h4>
            </div>
            <div class="detail-text-block_item">
              <p>To leave a review, register and enter your password and login in the appropriate menu items.</p>
        </div>

    <section>
        <div class="container">
            <div class="row align-items-center justify-content-center gap-2">
                {% for review in reviews %}
                    <!-- Используйте адаптивные колонки для гибкости -->
                
                        <div class="card fixed-card" style="width: 300px; height: 300px; border-radius: 30px;">
                            <div class="card-body text-left d-flex flex-column justify-content-start align-items-start px-1";>
                                <!-- Изображение -->
                                <img src="{% static './image/man2.png' %}" class="card-img-top mt-3" alt="Image" style="height: 50px; width: 50px;">
                            
                                <!-- Имя -->
                                <h5 class="card-title-review mt-2 text-left">{{ review.user.username }}</h5>
                                <img src="{% static './image/stars.png' %}" class="card-img-bottom" alt="Image" style="width: 100px;">
                            
                                <!-- Текст отзыва -->
                                <p class="card-text-review mt-2">{{ review.content|slice:":150" }}</p>
                            </div>
                        </div>
                
                {% endfor %}
            </div>
        </div>

        {% if user.is_authenticated %}
            <div class="container mt-5 px-4 mb-2">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3 form-review">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="home-btn">Send</button>
                </form>
            </div>
        {% else %}
            <div class="container mt-4">
                <p>Only<a href="{% url 'construction:register' %}">authorized users</a>can leave reviews.</p>
            </div>
        {% endif %}
        {% if messages %}
            <div class="alert alert-success mt-3">
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    </section>   

    <div class="detail-text-service__block mt-4">
        {% comment %} <div class="detail-text-block">
            <h4>Reviews from our clients</h4>
        </div> {% endcomment %}
        <div class="detail-text-block_item">
            <p style="font-size: 14px; color: #282E33;">To leave a review on this website, you need to register and log in with your account.</p>
    </div>

    
{% endblock%}    
