{% extends "app/base.html" %}
{% load static %}
{% block title %}Flooring Installation Toronto{% endblock %}
{% block content %}

    <section class="detail">
        <div class="detail-image__conteiner"></div>
    </section>

    <div class="detail-text-service__block">
        <div class="detail-text-block">
            <h4>{{project.name}}</h4>
        </div>
        <div class="detail-text-block_item">
          <p>areas what we serv</p>
    </div>
    
    <section class="responsive-section">
        <div class="container-section">
            <div class="image-container">
                {% if project.image %}
                    <img src="{{ project.image.url }}"  alt="Image" class="img-fluid"  style="border-radius: 20px 0 20px 0;">
                {% else %}
                    <img src="/static/image/no-image.png" alt="No image">
                {% endif %}
                {% comment %} <img src="{{ project.image.url }}" alt="Image" class="img-fluid"  style="border-radius: 20px 0 20px 0;"> {% endcomment %}
            </div>
            <div class="text-container">
                <p>{{ project.description }}</p>
            </div>
    </section>
    <!--  new-page-style -->
    <section class="new-style">
        <div class="new-style-man">
        
            <!--  аватарка -->
            <div class="new-style-avatar-conteiner">

                <div class="conteiner-avatar">
                    <div class="new-style-avatar">
                        <img src="{%  static './image/about-face.png' %}" alt="man">
                    </div>
                    <div class="new-style-social">
                        <a href=""><img src="{%  static './image/facebook-about.png' %}" alt="facebook"></a>
                        <a href=""><img src="{%  static './image/facebook-about.png' %}" alt="facebook"></a>
                    </div>
                
                
                </div>
                <div class="conteiner-desription__text">
                    <div class="new-avatar-text">
                        <h4>Sergey Bondarenko</h4>
                        <p>Flooring specialist</p>
                    </div>
                    <div class="new-avatar-description">
                        
                        <h5>The best solution for working with floors</h5>
                    </div>
                    
                    
                </div>

                <div class="new-substrate"></div>
        
            </div>
            <!--  аватарка -->

            <div class="flag-conteiner">
                <div class="flag-ukraine"></div>
                <div class="gerb-ukraine"></div>
                <div class="vertical-line"></div>
                <div class="flag-canada"></div>
            </div>
        
        </div>

    </section>
    <!--  new-page-style -->

    <section>
        <div class="conteiner-img-section">
            {% for images in project_images %}
                {% if images.image %}
                    <img src="{{ images.image.url }}"  alt="Image" class="image-section"  style="border-radius: 20px 0 20px 0;">
                {% else %}
                    <img src="/static/image/no-image.png" alt="No image">
                {% endif %}
                {% comment %} <img src="{{ images.image.url }}" alt="Image" class="image-section"  style="border-radius: 20px 0 20px 0;">
     {% endcomment %}
            {% endfor %}
        </div>
    <section>

    </section>
    <section class="reviews" style="background-color:transparent;">
        <!--  текст блочный -->
        <div class="text-service__block-reviews">
           <div class="text-block_item-reviews">
               <p>Our satisfied customers</p>
           </div>
       </div>
       <!--  текст блочный -->

       <div class="reviews-conteiner">

            <!--  card -->
           <div class="reviews-card">
               <div class="reviews-img">
                   <img src="{% static '/image/otziv.jpg' %}" alt="" style="width: 130px; height: 130px; border-radius: 50%;  object-fit: cover;">
               </div>
               <div class="reviews-description" srtle="text-align: left">
                   <h6>The best flooring specialists in Toronto did a lot of work</h6>
               </div>
              
           </div>
           <!--  card -->


           <!--  line-modile -->
           <div class="custom-line"></div>
           <!--  line-modile -->
          

            <!--  card -->
            <div class="reviews-card">
               <div class="reviews-img">
                   <img src="{% static '/image/otziv2.jpg' %}" alt=""style="width: 130px; height: 130px; border-radius: 50%;  object-fit: cover;">
               </div>
               <div class="reviews-description">
                   <h6>Professional guys invested on time</h6>
               </div>
           </div>
           <!--  card -->

           <!--  line-modile -->
           <div class="custom-line"></div>
           <!--  line-modile -->

            <!--  card -->
            <div class="reviews-card">
               <div class="reviews-img">
                   <img src="{% static '/image/otziv3.jpg' %}" alt=""style="width: 130px; height: 130px; border-radius: 50%;  object-fit: cover;">
               </div>
               <div class="reviews-description">
                   <h6>Fast flooring install, great</h6>
               </div>
           </div>
           <!--  card -->

       </div>
    </section>
   

{% endblock %}