{% extends "app/base.html" %}
{% load static %}
{% block title %}Questions Flooring Installation Toronto{% endblock %}
{% block content %}
    <!--  new-page -->
    <section class="new-page">
        <div class="new-page-image"></div>
    </section>
   

    <section "question-text" style="margin-top: 40px;">
        <div class="container">
            <div class="row">
                
                <div class="text-service__block">
                    <div class="text-block">
                        <h4>Common Questions</h4>
                    </div>
                </div>
                <div class="col-12 p-3 p-md-4 new-item">
                    <p><strong style="font-weight: 900;">How to Order from Us</strong> 1 Call Us – Reach out by phone using the contact numbers listed on our website.2 Fill Out the Form – Complete the contact form on our site, and we'll get back to you as soon as possible.3 Send Us a Message – Click on the chat widget on the right side of the screen to send us a message directly.</p>
                </div>
                <div class="col-12 p-3 p-md-4 new-item">
                    <p><strong style="font-weight: 900;">Where We Operate</strong>We proudly operate in Toronto, the vibrant heart of Canada, and its surrounding suburbs. Whether you're located in the city or in the nearby areas, we’re here to provide our services with the same level of dedication and expertise.</p>
                </div>
                <div class="col-12 p-3 p-md-4 new-item">
                    <p><strong style="font-weight: 900;">Multitude of Clients</strong> Countless happy clients trust us for exceptional flooring across Toronto.</p>
                </div>
                <div class="col-12 p-3 p-md-4 new-item">
                    <p><strong style="font-weight: 900;">Project Completion Time</strong> The timeline for completing projects varies depending on the complexity and specific requirements. Each project is unique, and we tailor our approach to ensure the best results. However, our team is committed to delivering high-quality projects in a timely manner, ensuring efficiency without compromising on excellence.</p>
                </div>
                <div class="col-12 p-3 p-md-4 new-item">
                    <p><strong style="font-weight: 900;">Materials</strong> Our team works exclusively with high-quality, certified materials to ensure long-lasting durability and optimal performance of your flooring. We prioritize the best materials for every project to guarantee excellent results and longevity.</p>
                </div>
                <div class="col-12 p-3 p-md-4 new-item">
                    <p><strong style="font-weight: 900;">About Our Team</strong>We are the Flooring Installation Toronto team, a group of professionals with extensive experience in the Canadian market. Having worked on various projects of all complexities, from simple to highly intricate ones, we have developed our own strategies and utilize advanced technologies to ensure the efficiency and speed of our work.</p>
                </div>
               
                <!--  текст блочный -->
            </div>
        </div>
    </section>

    <!--  new-page-text-->

    <!--  new-page-style -->
    <section class="new-style">
        <div class="new-style-man">
        
            <!--  аватарка -->
            <div class="new-style-avatar-conteiner">

                <div class="conteiner-avatar">
                    <div class="new-style-avatar">
                        <img src="{%  static './image/about-face.png' %}" alt="man">
                    </div>
                    <div class="new-style-social">
                        <a href=""><img src="{%  static './image/facebook-about.png' %}" alt="facebook"></a>
                        <a href=""><img src="{%  static './image/facebook-about.png' %}" alt="facebook"></a>
                    </div>
                
                
                </div>
                <div class="conteiner-desription__text">
                    <div class="new-avatar-text">
                        <h4>Sergey Bondarenko</h4>
                        <p>Flooring specialist</p>
                    </div>
                    <div class="new-avatar-description">
                        
                        <h5>The best solution for working with floors</h5>
                    </div>
                    
                    
                </div>

                <div class="new-substrate"></div>
        
            </div>
            <!--  аватарка -->

            <div class="flag-conteiner">
                <div class="flag-ukraine"></div>
                <div class="gerb-ukraine"></div>
                <div class="vertical-line"></div>
                <div class="flag-canada"></div>
            </div>
        
        </div>
    </section>
    <!--  new-page-style -->

    <section class="reviews" style="background-color:transparent;">
        <!--  текст блочный -->
        <div class="text-service__block-reviews">
           <div class="text-block_item-reviews">
               <p>Our satisfied customers</p>
           </div>
       </div>
       <!--  текст блочный -->

       <div class="reviews-conteiner">

            <!--  card -->
           <div class="reviews-card">
               <div class="reviews-img">
                   <img src="{% static '/image/6otziv.jpg' %}" alt="" style="width: 130px; height: 130px; border-radius: 50%;  object-fit: cover;">
               </div>
               <div class="reviews-description" srtle="text-align: left">
                   <h6>Best flooring team in toronto</h6>
               </div>
              
           </div>
           <!--  card -->


           <!--  line-modile -->
           <div class="custom-line"></div>
           <!--  line-modile -->
          

            <!--  card -->
            <div class="reviews-card">
               <div class="reviews-img">
                   <img src="{% static '/image/4otziv.jpg' %}" alt=""style="width: 130px; height: 130px; border-radius: 50%;  object-fit: cover;">
               </div>
               <div class="reviews-description">
                   <h6>Quality and speed are the keys to the success of this team</h6>
               </div>
           </div>
           <!--  card -->

           <!--  line-modile -->
           <div class="custom-line"></div>
           <!--  line-modile -->

            <!--  card -->
            <div class="reviews-card">
               <div class="reviews-img">
                   <img src="{% static '/image/5otziv.jpg' %}" alt=""style="width: 130px; height: 130px; border-radius: 50%;  object-fit: cover;">
               </div>
               <div class="reviews-description">
                   <h6>The team we collaborate with on a regular basis</h6>
               </div>
           </div>
           <!--  card -->

       </div>
   </section>



 {% endblock%} 
    
