{% load static%}  
   
 <!-- Секция главной формы -->
<section id="form" class="form">

    <form method="post" class="conteiner-form" action="">
        {% csrf_token %}
            <div class="form-row-right">
                <!--  текст на мобильн версии -->
                <div class="text-form-top-mobile">
                    <h5>Get a <span style="color:#E77B2D;">FREE</span>Consultation</h5>
                </div>
                <!--  текст на мобильн версии -->
                <div class="form-row">
                    <input type="text" name="{{ form.name.name }}" class="form-field" placeholder="Full Name">
                    <input type="text" name="{{ form.number.name }}" class="form-field" placeholder="Phone number">
                </div>
                <div class="form-row">
                    <input type="text" name="{{ form.comment.name }}" class="form-field large-field" placeholder="Your Comment">
                </div>
            </div>
            <div class="form-row-left">
                <!--  текст на мобильн версии -->
                <div class="text-service__block-mobile">
                    <div class="text-block_item-mobile">
                        <p>Leave your contact information<br>& we'll call you back</p>
                    </div>
                </div>
                <!--  текст на мобильн версии -->
                <h5>Get a <span style="color:#E77B2D;">FREE</span><br>Consultation</h5>
                <button class="home-btn">send message</button>
            </div>
    </form>


</section>
 <!-- Секция главной формы -->
 