{% load static %}

   
    <footer class="top-footer">
        <div class="container">  
            <div class="row">
                <!-- Левая часть (логотип и контакты) -->
                <div class="col-md-8 col-sm-6 col-12 d-flex flex-column ps-md-5 ps-sm-3 ps-2">
                    <a href="">
                        <img class="logo-top-footer" src="{% static 'image/logo-white.png' %}" style="height: 80px; margin-top: 60px;"/>
                    </a>
                    <div class="footer-container-top">
                        <div class="d-flex flex-row align-items-center gap-3">
                            <img src="{% static 'image/tel.png' %}" style="width:30px; height: 30px;" class="footer-icon">
                            <a class="text-decoration-none fw-bold fs-3  phone-footer" style="font-weight: 700; font-family: 'Montserrat', sans-serif;  font-size: 35px;  line-height: 9px;" href="tel:+14162949948">+14162949948</a>
                        </div>
                        <div class="d-flex flex-column mt-4">
                            <strong style="font-family: 'Inter', sans-serif; font-size: 20px; font-weight: 900; line-height: 23px; color:#FF9500; text-transform: uppercase;">Work schedule:</strong>
                            <span  style="font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 200; line-height: 23px; color:#FF9500; text-transform: uppercase;">Mon-Fri from 9.00 to 19.00</span>
                            <span  style="font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 200; line-height: 23px; color:#FF9500; text-transform: uppercase;">Sat, Sun - day off.</span>
                        </div>
                        <div class="d-flex mt-3 gap-3">
                            <img src="{% static 'image/icon-facebook.png' %}" style="width:30px; height: 30px;" class="footer-icon">
                            <img src="{% static 'image/instagram.png' %}" style="width: 28px; height: 28px;" class="footer-icon">
                        </div>
                        <div class="mt-3">
                            <a class="text-decoration-none text-secondary" href="https://www.web-mars.com/">© All rights reserved - Web Studio “Mars” 2024 </a>
                        </div>
                    </div>
                </div>
    
                <!-- Правая часть (меню) -->
                <div class="right-menu-section col-md-4 col-sm-6 col-12 d-flex flex-column mt-md-0 mt-sm-0 mt-4">
                        <div class="row">
                            <div class="footer-text-column col-md-6 col-6 mt-5">
                                <h5 style="text-transform: uppercase;">Menu</h5>
                                <ul class="footer-text-column-item d-flex flex-column gap-3">
                                    <li><a href="{% url 'construction:index' %}" class="text-decoration-none">Home</a></li>
                                    <li><a href="{% url 'construction:about' %}" class="text-decoration-none">About us</a></li>
                                    <li><a href="{% url 'construction:category_list' %}" class="text-decoration-none">Services</a></li>
                                    <li><a href="{% url 'construction:projects_all' %}" class="text-decoration-none">Projets</a></li>
                                </ul>
                            </div>
                            <div class="footer-text-column col-md-6 col-6 mt-5">
                                <h5 style="text-transform: uppercase;">More</h5>
                                <ul class="footer-text-column-item list-unstyled d-flex flex-column gap-3">
                                    <li><a href="#" class="text-decoration-none">Service 1</a></li>
                                    <li><a href="#" class="text-decoration-none">Service 2</a></li>
                                </ul>
                            </div>
                            <div class="footer-text-column col-12 mt-5">
                                <h5 style="text-transform: uppercase;">Info</h5>
                                <ul class="footer-text-column-item list-unstyled d-flex flex-column gap-3">
                                    <li><a href="/#form" class="text-decoration-none">Contact</a></li>
                                    <li><a href="{% url 'construction:about' %}" class="text-decoration-none">Question</a></li>
                                    <li><a href="#" class="text-decoration-none">Site Map</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> 

            </div>
        </div>
    </footer>
 <!--  footer -->

    {% comment %} <div class="top-footer-mobile-img"><div> {% endcomment %}
    <footer class="footer-mobile-section">
        <div class="top-footer-mobile-img"></div>
        <div class="top-footer-mobile">
            <div class="container">  
                <div class="row justify-content-center align-items-center">
                    <!-- Левая часть (логотип и контакты) -->
                    <div class="col-md-6 justify-content-center align-items-center d-flex flex-column ps-md-5" style="margin-top: 120px;">
                        <a href="">
                            <img class="logo-top-footer-mobi" src="{% static 'image/logo-white.png' %}" style="height: 70px;  margin-right:50px;"/>
                        </a>
                        <div class="footer-container-top">
                            <div class="d-flex flex-row align-items-center gap-3">
                                <img src="{% static 'image/tel.png' %}" style="width:30px; height: 30px;">
                                <a class="text-decoration-none fw-bold fs-3  phone-footer" style="font-weight: 700; font-family: 'Montserrat', sans-serif;  font-size: 35px;  line-height: 9px;" href="tel:+14162949948">+14162949948</a>
                            </div>
                            {% comment %} <div class="d-flex flex-row align-items-center gap-3">
                                <img src="{% static 'image/icon-facebook.png' %}" style="width:40px; height: 40px;">
                                <a class="text-decoration-none fw-bold fs-3  phone-footer" style="font-weight: 700; font-family: 'Montserrat', sans-serif;  font-size: 35px;  line-height: 9px;" href="tel:+1234567890">097 911 32 26</a>
                            </div> {% endcomment %}
                            <div class="d-flex flex-column mt-2">
                                <strong style="font-family: 'Inter', sans-serif; font-size: 20px; font-weight: 900; line-height: 23px; color:#FF9500;">Work schedule:</strong>
                                <span style="font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 200; line-height: 23px; color:#FF9500; text-transform: uppercase;">Mon-Fri from 9.00 to 19.00</span>
                                <span  style="font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 200; line-height: 23px; color:#FF9500; text-transform: uppercase;">Sat, Sun - day off.</span>
                            </div>
                            <div class="d-flex mt-3 gap-2 flex-row">
                                <img class="footer-icon" src="{% static 'image/icon-facebook.png' %}" style="width:30px; height: 30px;">
                                <img class="footer-icon" src="{% static 'image/instagram.png' %}" style="width:28pxpx; height: 28px;">
                            </div>
                            <div class="mt-3">
                                <a class="text-decoration-none text-secondary" href="https://www.web-mars.com/">© Web Studio “Mars” 2024 </a>
                            </div>
                        </div>
                </div>
            </div>    
    

        </div>
    </footer>